<div class="card">
  <h1>My List</h1>
  <br />
  <form (submit)="addTodo()">
    <input name="task" type="text" placeholder="New Task"  class="todo-input" [(ngModel)]="inputTodo"/>

    <input name="add" type="submit" value="Add"class="todo-submit">

  </form>
<br/>

  <div class="todos">
    <div  *ngFor="let todo of todos; let i = index" class="todo {{(todo.completed? 'done':'')}}">
      <div class="content"(click)="toggleDone(i)">{{ todo.content }}<span><button class="delete" (click)= "deleteTodo(i)" >Delete</button></span></div>

    </div>
  </div>

</div>
