<header>
  <div class="wrapper">
    <div class="logo">
      <img src="/src/assets/images/logo2.jpeg">
    </div>
<ul class="nav-bar">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Sign Up </a></li>
</ul>
<div class="welcome-text">
  <h1>Keep Organised with Todo</h1>
  <a href="#"><button class="button">Start</button></a>

</div>
  </div>
</header>
<body>

  <div class="card">
    <h1>My List</h1>
    <br>
  <div class="InputField">
    <input type="text" placeholder="New Task">
  <button><i class="add">Add</i></button>
  </div><br>
  <ul class="todoList">
    <li>More on Rest APIs<span><button class="delete">Delete</button></span></li>
    <li>More on Rest APIs<span><button class="delete">Delete</button></span></li>
    <li>More on Rest APIs<span><button class="delete">Delete</button></span></li>
    <li>Angular tutorial<span><button class="delete">Delete</button></span></li>
    <li>Rest APIs<span><button class="delete">Delete</button></span></li>
    <li>More on Rest APIs<span><button class="delete">Delete</button></span></li>
  </ul>
  <div class="footer">You have pending tasks<span><button class="clear">Clear All</button></span></div>
  </div>

</body>

<router-outlet></router-outlet>
